*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared styles for the whole project */
header{
    background-color:rgb(255,233,218);
    padding-top:50px;
    background:url(../images/developer.png),url(../images/header_bg.png),rgb(255,233,218);
    background-repeat:no-repeat;
    background-position:top left, bottom right;
   

}
nav{
    width:80%;
    max-width: auto;
    /* border:2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    
}
.btn
{
    /* padding-left:20px; */
    border:none;
    border-radius:5px;
    background-color:#FD6E0A;
    color:white;
    padding: 18px 35px; 
    /* justify-content: center;
    height:65px;
    width:150px; */
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
   
}
/* main styles for the whole project */
.logo h2{
    font-size:45px;
    font-weight:bold;
    justify-content: center;
    

}
 .orange{
    color:#FD6E0A;
 }
nav .manu{
    display:flex;
    list-style-type:none;
    gap:20px;
    align-items:center;
    
    
}
.manu li a{
    text-decoration:none;
    color:#474747;
    font-size:20px;
}
#banner{
   border: #FD6E0A 2px solid;
   margin:47px 38px 0px 230px ;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
#banner .banner-content{
    max-width: 585px;;
}
#banner .banner-content h2{
    font-size:45px;
    font-weight:semibold;
    margin-bottom:5px;
    color:#474747;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight:bold;
    margin-bottom:20px;
    color:#181818;
}
#banner .banner-content p{
    font-size:18px;
    color:#757575;
    font-weight:400;
    line-height:35px;
    margin:30px;
}
#banner .banner-image img{
    max-width:585px;
    vertical-align: middle;
}